@import "color-theme.css";

.foot-list, .themes-list{
  display: flex;
  justify-content: space-between;
  padding: 25px 8%;
}

li{
  margin: 10px;
  list-style-type: none;
  text-decoration: none;
}
a{
  color: black;
  text-decoration: none;
}
