:root{
  --dominant-color: #7209b7;
  --contrasting-color: #32BEAF;
  --background-color: #211925;
  --highlight-color: #FFA2FF;
}
.foot-list{
  display: flex;
  justify-content: space-between;
  padding: 25px 8%;
}

li{
  margin: 10px;
  list-style-type: none;
  text-decoration: none;
}
a{
  color: black;
  text-decoration: none;
}
a:visited{

}
