@import "color-theme.css";

header{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10px;
}

.main-content{
  margin-right: auto;
}
.nav-links li{
  font-size: 22px;
  color: black;
  display: inline-block;
  padding: 5px 10px;
}

a:hover{
  transition: 0.25s ease;
  color: var(--highlight-color);
}
