:root{
  --dominant-color: #7209b7;
  --contrasting-color: #32BEAF;
  --highlight-color: #FFA2FF;
  --complimentary-color: #008080;
}

.grid-container{
  color: black;
  display: grid;
  align-items: start;
  grid-template-columns: repeat(4, minmax(0px, 1fr)); /* Make 4 columns of equal size*/
  grid-template-rows:repeat(2, minmax(0px, 1fr));
  gap: 7.5px 12.5px;
  margin: 25px;
}
.link-box{
  text-align: center;
  margin: 10px;
  background-color: var(--complimentary-color);
  border: 1px solid black;
  box-shadow: 2px 2px 8px black;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  object-fit: cover;
  background-repeat: no-repeat;
}

.link-box:hover{
  transition: 0.30s ease-in;
  transform: scale(1.005);
  cursor: pointer;
}
/* Yanking the code out from the search results page to show these results*/
th{
  font-weight: bold;
  background-color: var(--highlight-color);
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 18px;
  padding: 8px;
}
td{
  font-size: 18px;
  font-weight: normal;
  padding: 1rem;
}
tr{
  background-color: var(--contrasting-color)
}
tr:nth-child(even){
  background-color: var(--complimentary-color);
}
th, td{
  text-align: center;
}
table{
  width: 92%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 15px auto;
  margin-top: 20px;
  box-shadow: 1px 6px 10px black;
  text-align: left;
  overflow: hidden;
}

/* List styling */

li{
  font-size: 20px;
  padding-bottom: 5px;
  font-weight: 500;
}

/* Responsive grid layout */

/* Grid problems first begin to show up when the width hits 1250px */
@media only screen and (max-width: 1250px){
  .grid-container{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

/* Happy with how this looks on phone screens! Grid makes responsive designs easy */
@media only screen and (max-width: 600px){
  .grid-container{
    grid-template-columns: 1fr;
}
  .link-box{
    font-size: 20px;
  }

  li{
    font-size: 11px;
  }
}
