/* Note: table CSS design inspired by https://www.youtube.com/watch?v=Oy9K7iz3aa4&ab_channel=AngelaDelise */
body{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
th, td{
  text-align: left;
  padding: 7.5px;
}
thead{
  box-shadow: 0 3px 12px gray;
}
th{
  padding: 0.8rem 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 0.9rem;
}
td{
  padding: 1rem;
}
tr:nth-child(even){
  background-color: rgba(0,0,0, 0.075);
}
table{
  table-layout: fixed;
  background-color: snow;
  border-collapse: collapse;
  width: 95%;
  margin: 10px auto;
  box-shadow: 1px 6px 10px black;
  text-align: left;
  overflow: hidden;
}
h1{
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  color: blue;
}

tr:hover{
  cursor: pointer;
  transition: 0.25s; /* SMOOOOOOTH */
  transform: scale(1.01);
  background-color: rgba(0, 0, 255, 0.1);
}
