/* Note: table CSS design inspired by https://www.youtube.com/watch?v=Oy9K7iz3aa4&ab_channel=AngelaDelise */
:root{
  --dominant-color: #7209b7;
  --contrasting-color: #32BEAF;
  --complimentary-color: #008080;
  --highlight-color: #FFA2FF;
}

td{
  width: 16.66%;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  color: blue;
}
tr:hover{
  cursor: pointer;
  transition: 0.25s; /* SMOOOOOOTH */
  transform: scale(1.01);
}
.centered{
  text-align: center;
}
.not-favorite{
  background: url("images/x.png") no-repeat;
  width: 16.5px;
}
.not-favorite:hover{
  transition: 2s ease;
  width: 16.5px;
  background: url("images/checkmark.png") no-repeat;
}

/* Grid problems first begin to show up when the width hits 1250px */
@media only screen and (max-width: 1000px){
  h1{
    font-size: 35px;
  }
  td{
    font-size: 15px;
  }

  th{
    font-size: 0.7rem;
  }
  table{
    width: 100%;
  }
  .not-favorite .is-favorite{
    width: 15px;
  }
}

@media only screen and (max-width: 750px){
  h1{
    font-size: 30px;
  }
  td{
    font-size: 15px;
  }
  th{
    font-size: 14px;
    letter-spacing: none;
  }
  table{
    width: 100%;
  }
  .not-favorite .is-favorite{
    width: 14.5px;
  }

}

@media only screen and (max-width: 600px){
  h1{
    font-size: 25px;
  }
  h2{
    font-size: 18.5px;
  }
  h3{
    font-size: 16px;
  }
  li{
    font-size: 14px;
  }
  td{
    font-size: 11.5px;
  }
  .not-favorite .is-favorite{
    width: 13px;
  }
}
