/* Note: table CSS design inspired by https://www.youtube.com/watch?v=Oy9K7iz3aa4&ab_channel=AngelaDelise */
:root{
  --dominant-color: #7209b7;
  --contrasting-color: #32BEAF;
  --complimentary-color: #008080;
  --highlight-color: #FFA2FF;
}
th, td{
  text-align: left;
  padding: 7.5px;
}
thead{
  box-shadow: 0 3px 12px gray;
}
th{
  background-color: var(--highlight-color);
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
  font-size: 0.9rem;
}
td{
  padding: 1rem;
}
tr{
  background-color: var(--contrasting-color)
}
tr:nth-child(even){
  background-color: var(--complimentary-color);
}
table{
  table-layout: fixed;
  background-color: snow;
  border-collapse: collapse;
  width: 80% auto;
  margin: 10px auto;
  box-shadow: 1px 6px 10px black;
  text-align: left;
  overflow: hidden;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  text-decoration: underline;
  color: blue;
}

tr:hover{
  cursor: pointer;
  transition: 0.25s; /* SMOOOOOOTH */
  transform: scale(1.01);
}
