.grid-container{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  box-shadow: 1px 1px 5px black;
  border: 2px solid black;
  gap: 10px;
}

.song-info{
  margin: 12.5px;
  padding: 10px;
  box-shadow: 2px 2px 4px black;
  border: 1.5px solid black;
}
.top{
  text-align: center;
  text-shadow: 1px 1px 3px black;
  color: beige;
  background-color: #003049;
  grid-area: span 2;
}

.basic{
  background-color: #d62828;
}

.analysis{
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-column: span 2;
  background-color: #E9B44C;
  gap: 8.5px;
}

.artist-name{
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
}

.analysis-trait{
  font-size: 18px;
  text-align: center;
  box-shadow: 1px 1px 5px black;
  border: 1px solid black;
  padding: 0.75rem;
  text-shadow: 0.5px 0.5px 2px white;
}
h3{
  font-size: 1.5rem;
}
.analysis-trait h3{
  letter-spacing: 1.2px;
  font-weight: 800;
}
h2{
  text-align: center;
  grid-column: span 4;
  height: 10px;
}
progress{
  margin-top: 5px;
  margin: 5px 10px;
  width: 12rem;
  height: 10px;
}
