@import url("font-selection.css"); /*Imports font selection and color palette */
:root{
  --dominant-color: #7209b7;
  --contrasting-color: #32BEAF;
  --highlight-color: #FFA2FF;
  --complimentary-color: #008080;
}

.grid-container{
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.song-info{
  margin: 10px 15px;
  padding: 12.5px;
  box-shadow: 2px 2px 4px black;
  border: 1.5px solid black;
  background-color: var(--contrasting-color);
}
.top{
  text-align: center;
  grid-area: span 2;
}

.basic{
  background-color: #d62828;
}

.analysis{
  display: grid;
  justify-content: start;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0px, auto));
  gap: 8.5px;
}

.artist-name{
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
}
.analysis-trait{
  align-self: start;
  background-color: var(--complimentary-color);
  font-size: 18px;
  text-align: center;
  box-shadow: 1px 2px 10px black;
  padding: 0.75rem;
  margin: 12px;
}
.analysis-trait:hover{
  transition: 0.35s;
  background-color: var(--highlight-color);
  transform: scale(1.035);
}

.Danceability{
  grid-column: span 2;
}
.Danceability progress{
  width: 10rem;
}

h1{
  color: var(--highlight-color);
  text-shadow: 3px 2px 1.5px black;
  font-size: 50px;
}
.analysis-trait h3{
  letter-spacing: 1.2px;
  font-weight: 800;
}
.analysis-header{
  margin-bottom: 40px;
  text-align: center;
  grid-column: span 3;
  height: 10px;
  align-self: start;
  font-size: 28px;
}
progress{
  -webkit-appearance: none;
  margin: 0 12px;
  width: 7.5rem;
  height: 16px;
  overflow: hidden;
  border: 0.2px solid black;
  border-radius: 20px;
}
progress::-webkit-progress-value { background: var(--highlight-color); } /* Chrome & others */
progress::-moz-progress-bar { background: var(--highlight-color);} /* Firefox browser */
.progress-info{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

p{
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
}

/* Grid problems first begin to show up when the width hits 1250px */
@media only screen and (max-width: 1480px){
  .analysis{
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, minmax(0px, auto));
    gap: 4px;
  }
  .analysis-header{
    grid-column: span 2;
  }
  .analysis-trait h3{
    letter-spacing: 1px;
  }
  progress{
    width: 6rem;
  }
  .Danceability{
    grid-column: span 1;
  }
  .Danceability progress{
    width: 6rem;
  }

}

@media only screen and (max-width: 1000px){
  .analysis{
    display: block;
  }
  .analysis-trait{
    margin: 25px;
  }
}

@media only screen and (max-width: 600px){
  .analysis-header{
    margin-bottom: 60px;
  }
  .progress-info{
    font-size: 12px;
    font-weight: normal;
  }
  progress{
    height: 14px;
    width: 3rem;
  }
  .analysis-trait{
    font-size: 18px;
  }
  .Danceability .progress-info{
    font-size: 11.5px;
  }
  .Danceability progress{
    width: 2.5rem;
  }
}
