.advanced-song-search{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 8px;
    padding: 1rem 3rem;
}

.sub-input{
    color: black;
    padding: 30px;
    border: 1px solid black;
    box-shadow: 2px 1px 3px black;
}
/* Adding background images to the sub fields*/

.danceability{
  background-image: url("../images/danceability.jpg");
}
.energy{
  background-image: url("../images/energy.jpg");
}
.liveness{
  background-image: url("../images/liveness.jpg");
}
.valence{
  background-image: url("../images/valence.jpg");
}
.acousticness{
  background-image: url("../images/acousticness.jpg");
}
.speechiness{
  background-image: url("../images/speechiness.jpg");
}


label{
    font-weight: bold;
}

.flex-container{
    display: flex;
    width: 100%;
}

.less-input .greater-input{
    width: 30px;
}

.basic-search-form{
  background-color: #FF9A8B;
  background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
  width: 27%;
}
.advanced-search-form{
  color: beige;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  width: 73%;
}
.basic-song-search .advanced-song-search{
    border: 1px solid black;
    background-color: gray;
}
.year-sub-inputs{
    margin-left: 20px;
}
input[type='radio']{
    margin-right: 7.5px;
}
input[type='text'], select {
    margin-left: 1rem;
    float: right;
    width: 120px;
    padding: 3px;
    border: none;
    background: none;
    border-bottom: 2px solid black;
}
button{
    cursor:pointer;
    padding: 8px;
    width: 7.5rem;
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    background-color: rgba(173, 216, 230, 0.3);
    border-radius: 7.5px;
    font-weight: bold;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 5px;

}
button:hover{
  box-shadow: 2px 2px 3px black;
}
.less-greater-inputs{
    margin-left: 12px;
}
.paragraphClass{
    margin-left: 12px;
}

form{
    box-shadow: 1px 1px 10px black;
    padding: 20px;
    margin: 10px 10px 15px 5px;
    background-color: rgba(78, 68, 68, 0.13);
}

h2{
    text-align: center;
    margin-bottom: 2rem;
}
